@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root { 
  --background:#ededed; 
  --foreground:#121212;

  --accentColor: #FFB900;
  --tableColor: #D9D9D9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-heading);
  --font-sans: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background:#121212; 
    --foreground:#ededed; 

    --accentColor: #8D5BFF;
    --tableColor: #262626;
  }
}

html.dark { 
  --background:#121212; 
  --foreground:#ededed; 

  --accentColor: #8D5BFF;
  --tableColor: #262626;
}

html.light { 
  --background:#ededed; 
  --foreground:#121212; 

  --accentColor: #FFB900;
  --tableColor: #D9D9D9;
}

html {
  scrollbar-gutter: stable;
}

body { 
  background: var(--background); 
  color: var(--foreground); 
}
